<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Editing About me</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <hr>
    <h1 class="titleCard">Editting <em>Your</em> About me...</h1>
    <div id="newForm">
        <form action="/profile?_method=PUT"  method="POST">
            <div id="formcontainer">
                <label for="name">Name: </label>
                <input 
                type="text" 
                name="name" 
                id="name"
                class="edit-abouts"
                <% if (!userAbout) {%>
                    value="<%= '' %>"
                <% } else {%>
                    value="<%= userAbout.name %>"  
                <% } %>
                >
    
                <label for="mainMedium">Main Medium: </label>
                <input 
                type="text" 
                name="mainMedium" 
                id="mainMedium"
                class="edit-abouts"
                <% if (!userAbout) {%>
                    value="<%= '' %>"
                <% } else {%>
                    value="<%= userAbout.mainMedium %>"    
                <% } %>
                >
        
                <label for="contacts">Contacts: </label>
                <input 
                type="text" 
                name="contacts" 
                id="contacts" 
                class="edit-abouts"
                <% if (!userAbout) {%>
                    value="<%= '' %>"
                <% } else {%>
                    value="<%= userAbout.contacts %>"    
                <% } %>
                >
        
                <label for="website">Website: </label>
                <input 
                type="text" 
                name="website" 
                id="website"
                class="edit-abouts"
                <% if (!userAbout) {%>
                value= "<%= '' %>"    
                <% } else {%>
                    value="<%= userAbout.website %>"    
                <% } %>
                >
                
                <label for="bio">Biography: </label>
                <input 
                type="text" 
                name="bio" 
                id="bio"
                class="edit-abouts"
                size="280"
                placeholder="280 Character Limit"
                <% if (!userAbout) {%>
                    value="<%= '' %>"
                <% } else {%>
                    value="<%= userAbout.bio %>"   
                <% } %>
                ></textarea>
            </div>
            <div id="submitbtn">
                <button "type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</body>
</html>