<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <hr>
    <h1>Editting your About me...</h1>
    <div>
        <form action="/profile?_method=PUT"  method="POST">
            <div>
                <label for="name">Name: </label>
                <input 
                type="text" 
                name="name" 
                id="name"
                value="<% if (!userAbout) {%>
                    <%= "" %>
                <% } else {%>
                        <%= userAbout.name %>    
                <% } %>"
                >
    
                <label for="mainMedium">Main Medium: </label>
                <input 
                type="text" 
                name="mainMedium" 
                id="mainMedium"
                value="<% if (!userAbout) {%>
                    <%= "" %>
                <% } else {%>
                        <%= userAbout.mainMedium %>    
                <% } %>"
                >
        
                <label for="contacts">Contacts: </label>
                <input 
                type="text" 
                name="contacts" 
                id="contacts" 
                value="<% if (!userAbout) {%>
                    <%= "" %>
                <% } else {%>
                        <%= userAbout.contacts %>    
                <% } %>"
                >
        
                <label for="website">Website: </label>
                <input 
                type="text" 
                name="website" 
                id="website"
                value="<% if (!userAbout) {%>
                    <%= "" %>
                <% } else {%>
                        <%= userAbout.website %>    
                <% } %>"
                >
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>