<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <hr>
    <h1>Hello
        <% if (!userAbout) {%>
            <%= user.username %> 
    </h1>

        <% } else {%>
            <h1> 
                <%= userAbout.name %>    
            </h1>
            <p>
                <%= userAbout.contacts%>
                <%= userAbout.website%>
                <%= userAbout.mainMedium%>
            </p>
        <% } %>

    <a href="/profile/<%= user._id%>/edit">Edit Profile</a>

    <h1>Your Library</h1>
    <a href="/library/new">Add Works</a>
    <% if (artworks.length) { %>
        <% artworks.forEach((artwork) => { %>
                <a href="/library/<%= artwork._id %>">
                    <p> <img src="<%= artwork.artwork %>"> || Title: <%= artwork.title %></p>
                </a>
        <% }) %>
    <% } %>
</body>
</html>