<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Hello <%= user.username %></h1>
    Profile
    <a href="/profile/edit">Edit Profile</a>

    <h1>All Your Works</h1>
    <a href="/library/new">Add Works</a>
    <% if (artworks.length) { %>
        <% artworks.forEach((artwork) => { %>
                <a href="/library/<%= artwork._id %>">
                    <p> <img src="<%= artwork.artwork %>"> || Title: <%= artwork.title %></p>
                </a>
        <% }) %>
    <% } %>
</body>
</html>