<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= artwork.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <hr>
    <h1 class="titleCard"><%= artwork.title%> </h1>
    <div id="artInfo">
        <img id="shownArt"src="<%= artwork.artwork %>">

        <div id="arthandler">
            <% if (currentUser._id.toString() === artwork.owner.toString()) {  %>
                
            <div class="handleButtons">
                    <a href="/library/<%= artwork._id%>/edit">
                        <button id="editButton">Edit</button>
                    </a>
                <div id="deleteButton">
                    <form action="/library/<%= artwork._id %>?_method=DELETE" method="POST">
                        <button id="deleteArt"type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <% } else { %>
                Artist: <%= user.username %>
            <%} %>
            <div id="artDetails">
                    <p id="genre" class="artwork-details">Genre: <%= artwork.genre %></p>
                    <hr width="90%">
                    <p id="size" class="artwork-details">Size: <%= artwork.size %></p>
                    <hr width="90%">
                    <p id="date" class="artwork-details">Date: <%= artwork.date %></p>
                    <hr width="90%">
                    <p id="medium" class="artwork-details">Medium: <%= artwork.medium %></p>
                    <hr width="90%">
                    <p id="description" class="artwork-details">Description: <%= artwork.description %></p>
            </div>
        </div>
    </div>
</body>
</html>